.base {
  background: linear-gradient(180deg, #403b4a  0%,  rgba(0, 255, 209, 0.098) 100%), #1d1d1d;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
  gap: 2rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
}